.inputArea {
  margin: auto;
  display: flex;
}

.background {
  min-height: 1000px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(222, 126, 3, 1) 0%,
    rgba(255, 131, 3, 1) 49%,
    rgba(255, 216, 134, 1) 100%,
    rgba(237, 255, 77, 0.9060565015479876) 100%,
    rgba(58, 190, 32, 1) 100%
  );
}

.center {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.todoArea {
  background-color: white;
  color: black;
  width: 200px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed black;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.listArea {
  display: grid;
  place-items: center;
  /* display: block;
  margin: auto;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center; */
}
